<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.facultyofscience">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/facultylogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/facultylogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacultyOfScience">
        <activity
            android:name=".Activities.Gpa.PdfView"
            android:exported="false" />
        <activity
            android:name=".Activities.SuggestionsAndComplaints.SuggestionsAndComplaints"
            android:exported="false" />
        <activity
            android:name=".Activities.NoInternet.NoInternetConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Announcements.AnnouncementsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Announcements.AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Events.EventsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Events.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.News.NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Gpa.GpaCalcActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".Activities.News.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Notifications.BackgroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BackgroundService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>